* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main header {
  position: relative;
}

#global-nav {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 500;
  height: 50px;
  width: 100%;
}

#stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-10deg);
  transform-origin: 0;
  background: linear-gradient(150deg,#4264aa 15%,#4264aa 70%,#5f7ec1 100%);
}

#stripes :nth-child(1) {
  top: 0;
  position: absolute;
  height: 190px;
  width: 33.33333%;
  left: -16.66666%;
  background: #4264aa;
}

#stripes :nth-child(2) {
  top: 0;
  position: absolute;
  height: 190px;
  width: 33.33333%;
  left: 16.66666%;
  right: auto;
  background: #5f7ec1;
}

#stripes :nth-child(3) {
  width: 50.33333%;
  left: 49.99999%;
  bottom: auto;
  background: #4c70ba;
  right: auto;
  height: 190px;
  position: absolute;
}

#stripes :nth-child(4) {
  width: 33.33333%;
  top: 380px;
  right: -16.66666%;
  background: #5f7ec1;
  position: absolute;
  height: 190px;
}

#stripes :nth-child(5) {
  width: 33.33333%;
  bottom: 0;
  background: #5f7ec1;
  height: 190px;
  position: absolute;
}

#intro {
  position: relative;
  height: 660px;
  align-items: center;
  display: flex;
}

#intro .announcement {
  align-items: center;
  line-height: 26px;
  margin: 0 0 35px;
  padding: 0 12px 0 5px;
  border-radius: 15px;
  width: auto;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,140,.08);
}

#intro .announcement .new-pill {
  padding: 0 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  background: #24b47e;
  text-transform: uppercase;
  border-radius: 10px;
}

#intro .message {
  margin: 0 7px 0 6px;
}

#intro h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
}

.common-body-text {
    margin-top: 20px;
    color: #eafdff;
}

#intro .container-lg {
  margin-top: -2%;
  padding-left: 30px;
}

#intro p {
  max-width: 50%;
}

.container-lg {
  margin: 0 auto;
  width: 1040px;
}
.nav-root li {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-root {
  position: relative;
  padding: 0;
  margin: 0;
}

.global-nav .root-link {

}

.nav-section.logo {
  padding-left: 30px !important;
}

#feels-real {
  padding: 0 20px;
  position: relative;
  /*bottom: 30px;*/
  /*display: -ms-flexbox;*/
  display: flex;
  /*-ms-flex-direction: column;*/
  flex-direction: column;
  /*-ms-flex-pack: center;*/
  justify-content: center;
  height: 200px;
  margin-top: 150px;
  margin-bottom: 100px;
}

#choose-comment-section p {
  color: #6b7c93;
  line-height: 26px;
  font-size: 17px;
  font-weight: 400;
  margin: 20px auto;
  padding: 0 20px;
  max-width: 730px;
}

#feels-real h2,
#choose-comment-section h2 {
  display: flex;
  color: #24b47e;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  width: 50%;
  flex: none;
  margin: -110px 0 0 33px;
  text-align: right;
}

.heading-icon {
  flex: none;
  order: 1;
  margin: 0 0 0 25px;
  display: block;
  width: 66px;
  height: 66px;
}

#choose-comment-section h2 {
  display: block;
  margin: 0 auto;
  text-align: center;

}
#choose-comment-section .heading-icon {
  margin: 0 auto;
  display: block;
  width: 66px;
  height: 66px;
  margin-bottom: 30px;
}

#feels-real .common-body-text {
  width: 50%;
  text-align: right;
  flex: none;
  font-size: 17px;
  color: #6b7c93;
}

.common-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.common-button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #efefef;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}

.signup-button {
  margin-right: 23px;
  color: #fff;
  background: #3ecf8e;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  white-space: nowrap;
}


#intro ul {
  margin-top: 100px;
  display: flex;
}

#choose-comment-section:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 180%;
    top: 0;
    transform: skewY(-10deg);
    background: #f6f9fc;
}

#choose-comment-section {
  position: relative;
  height: 500px;
  padding-top: 80px;
}

.app-features {
  position: absolute;
  left: 55%;
  display: flex;
  top: 280px;
  pointer-events: none;
  position: absolute;
}
.app-features > div {
  align-items: center;
  border-radius: 38px;
  padding: 100px 0;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.app-features div > div {
  overflow: hidden;
  width: 100%;
  padding: 0;
  align-items: center;
  /*border-radius: 0;*/
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.tablet-portrait {
  display: flex;
  width: 400px;
  height: 625px;
  overflow: hidden;
  margin-top: 50px;
}

.tablet-portrait img {
  margin-top: 0;
  overflow: hidden;
  position: relative;
}


/* MOBILE */
@media (max-width: 1000px) {
  .nav-section.logo h1 {
    margin: 10px;
  }
  #global-nav {
    position: relative;
    background: #4264aa;
    top: inherit;
  }
  #feels-real {
    margin-bottom: 0;
  }
  #feels-real .common-body-text {
    /*width: */
  }
  .app-features div {
    margin: 0 auto;
  }
  .app-features {
    position: relative;
    top: inherit;
    left: inherit;
  }
}

/**/


#join-vip-secondary {
  overflow: hidden;
  background: #fff;
  border-top: 2px solid #ddd;
}

#join-vip-secondary a {
  border-bottom: 2px solid #ddd;
  padding: 70px 20px 65px 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  color: #4264aa;
}
#join-vip-secondary a:hover p {
  opacity: 0.7;
  transform: scale(.95);
  filter: blur(10px);
}

#join-vip-secondary p {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: 1s cubic-bezier(.19,1,.22,1);
  will-change: transform;
  filter: blur(0);
  font-size: 22px;
}

#join-vip-secondary p:hover {

}

#join-vip-secondary .common-button {
  position: absolute;
  margin-top: 15px;
  z-index: 1;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,5px) scale(.95);
  transition: .7s cubic-bezier(.19,1,.22,1);
  color: #fff;
  background: #6772e5;
}

#join-vip-secondary .common-button:hover {
  color: #fff;
  background-color: #7795f8;
}

#join-vip-secondary a:hover .common-button {
  opacity: 1;
  transform: translate(-50%,-7px);
}
.nav-section.github-seal img {
  width: 80px;
  display: flex;
}
.nav-section.github-seal {
  left: inherit;
  top: 30px;
  right: 50px;
  opacity: .5;
}

#github-section {
  background: #fff;
  min-height: 500px;
}

#github-section span,
#github-section .flip-clock-wrapper:before, #github-section .flip-clock-wrapper:after {
  display: inline-table;
}

#github-section .flip-clock-wrapper {
  width: inherit;
  line-height: 110px;
}

#github-section h2 {
  color: #24b47e;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  flex: none;
  padding-top: 100px;
  margin: 0px 0 0 0px;
  text-align: center;
}

#github-section .wrap-text-left {
  margin-top: 40px;
  right: 20px;
  position: absolute;
}

#github-section .wrap-text-right {
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
}

#github-section .github-links {
  margin-top: 20px;
  text-align: center;
}

#github-section > h2 > a img {
  width: 100px;
  display: flex;
  margin: 0 auto;
}
