$font-stack: Camphor,Open Sans,Segoe UI,sans-serif;

* {
  box-sizing: border-box;
}
label {
  font-weight: 500;
}

a:hover, a:focus {
  text-decoration: none;
}

.mr5 { margin-right: 5px; }

body {
  background-color: #f6f9fc;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: $font-stack;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main header {
  position: relative;
}

#primary {
  position: relative;
}

#primary .white-tilted-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-10deg);
  transform-origin: 0;
  background-color: #fff;
}

#global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  height: 50px;
  width: 100%;
  padding: 0 35px;
}

#stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-10deg);
  transform-origin: 0;
  background: linear-gradient(150deg,#4264aa 15%,#4264aa 70%,#5f7ec1 100%);
}

#stripes :nth-child(1) {
  top: 0;
  position: absolute;
  height: 190px;
  width: 33.33333%;
  left: -16.66666%;
  background: #4264aa;
}

#stripes :nth-child(2) {
  top: 0;
  position: absolute;
  height: 190px;
  width: 33.33333%;
  left: 16.66666%;
  right: auto;
  background: #5f7ec1;
}

#stripes :nth-child(3) {
  width: 50.33333%;
  left: 49.99999%;
  bottom: auto;
  background: #4c70ba;
  right: auto;
  height: 190px;
  position: absolute;
}

.github-links :nth-child(1) {
  margin-right: 20px;
}

.github-links :nth-child(3) {
  margin-left: 20px;
}

#stripes :nth-child(4) {
  width: 33.33333%;
  top: 380px;
  right: -16.66666%;
  background: #5f7ec1;
  position: absolute;
  height: 190px;
}

#stripes :nth-child(5) {
  width: 33.33333%;
  bottom: 0;
  background: #5f7ec1;
  height: 190px;
  position: absolute;
}

#intro {
  position: relative;
  height: 570px;
  padding: 0 35px;
  /*align-items: center;*/
  /*display: flex;*/
}

#intro .announcement {
  align-items: center;
  line-height: 26px;
  margin: 0 0 35px;
  padding-right: 15px;
  border-radius: 50px;
  width: auto;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,140,.08);
}

#intro .announcement .new-pill {
  padding: 0 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  /*background: #24b47e;*/
  text-transform: uppercase;
  border-radius: 30px;
}

#intro .message {
  margin: 0 7px 0 6px;
}

#intro .message a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

#intro h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
}

.common-body-text {
    margin-top: 55px;
    color: #eafdff;
}

#intro .container-lg {
  padding-top: 115px;
}

#intro p {
  max-width: 50%;
  line-height: 30px;
}

.container-lg {
  margin: 0 auto;
  position: relative;
  max-width: 1040px;
}
.nav-root li {
  display: inline-flex;
}
.nav-section.signin {
  float: right;
  margin-top: 15px;
}

.nav-section.logo h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.installation-instructions {
  padding: 0 30px;
}

#choose-comment-section .installation-instructions > p {
  margin-bottom: 25px;
}

.installation-instructions nav > .pill {
  padding-left: 30px;

}

.installation-instructions nav > ul > li span {
  width: 100%;
  position: absolute;
  left: 35px;
}

.installation-instructions > nav > ul > li .fa {
  display: inline;
}

.installation-instructions nav {
  width: 210px;
  position: absolute;
  right: 30px;
}

.installation-instructions > nav > ul > li.active a, .installation-instructions > nav > ul > li.active a:hover, .installation-instructions > nav > ul > li.active a:focus {
  color: #24b47e;
  border: 1px solid #e5e6e9;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  background-color: #fff;
}

.installation-instructions > nav > ul > li a, .installation-instructions > nav > ul > li a:hover, .installation-instructions > nav > ul > li a:focus {
  font-size: 17px;
  background-color: transparent;
  line-height: 40px;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  padding: 3px 2px 3px 10px;
  border-radius: 2px;
  height: 46px;
}

.installation-instructions h2 {
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

#feels-real i {
  font-size: 40px;
  margin-left: 30px;
}

.comment-choice-header {
  margin-left: 30px;
  margin-top: 40px;
}

#choose-comment-section i.section-icon {
  display: block;
  font-size: 44px;
  margin-bottom: 15px;
}

#feels-real {
  padding: 200px 20px 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

#choose-comment-section p {
  color: #6b7c93;
  line-height: 26px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  margin: 10px auto;
  max-width: 730px;
}

#feels-real h2,
#choose-comment-section h2 {
  display: flex;
  color: #24b47e;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  width: 50%;
  flex: none;
  margin: -110px 0 0 33px;
  text-align: right;
}

.heading-icon {
  flex: none;
  order: 1;
  margin: 0 0 0 25px;
  display: block;
  width: 66px;
  height: 66px;
}

#choose-comment-section h2 {
  display: block;
  margin: 0 auto;
  text-align: center;

}
#choose-comment-section .heading-icon {
  margin: 0 auto;
  display: block;
  width: 66px;
  height: 66px;
  margin-bottom: 30px;
}

#feels-real .common-body-text {
  width: 475px;
  text-align: right;
  flex: none;
  line-height: 30px;
  font-size: 17px;
  color: #6b7c93;
}

.common-button:hover {
  transform: translateY(-1px);
  color: #6772e5;
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.common-button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #efefef;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}

a.signup-button:hover {
  color: #fff;
}

a.signup-button {
  margin-right: 23px;
  color: #fff;
  background: #3ecf8e;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  white-space: nowrap;
}

.purchase-section-button:hover {
  color: #fff;
}
.purchase-section-button {
  border: none;
  float: right;
  position: relative;
  bottom: 5px;
  color: #fff;
  background: #3ecf8e;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  white-space: nowrap;
}


#intro ul {
  margin-top: 40px;
  display: flex;
}

.stacked-container {
  /*position: relative;
  z-index: 1;*/
}

#choose-comment-section {
  position: relative;
  z-index: 1;
  bottom: 80px;
}

.app-features {
  z-index: 1;
  position: absolute;
  right: 0px;
  bottom: -350px;
  display: flex;
  pointer-events: none;
}
.app-features > div {
  align-items: center;
  border-radius: 38px;
  padding: 100px 0;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.app-features div > div {
  overflow: hidden;
  width: 100%;
  padding: 0;
  align-items: center;
  height: 540px;
  /*border-radius: 0;*/
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.tablet-portrait {
  display: flex;
  width: 400px;
  height: 625px;
  overflow: hidden;
}

.tablet-portrait > div > img {
  position: relative;
}

.fw500 {
  font-weight: bold !important;
  font-size: 12px !important;
}


/* MOBILE */
@media (max-width: 530px) {


}
@media (max-width: 1000px) {
  #intro .container-lg {
    position: inherit;
    padding-top: 40px;
    padding-left: 30px;
  }
  #intro .container-lg.feature {
    right: 0;
    position: inherit;
  }
  #feels-real.container-lg h2,
  #feels-real.container-lg p  {
    width: 100%;
  }
  #feels-real {
    margin-right: 30px;
  }
  /*#global-nav {
    position: relative;
    background: #4264aa;
    top: inherit;
    padding: 0 35px;
  }*/

  #feels-real {
    margin-bottom: 0;
  }
  #feels-real .common-body-text {
    /*width: */
  }
  .app-features div {
    margin: 0 auto;
  }
  .app-features {
    position: relative;
    top: inherit;
    left: inherit;
  }
}

/**/
.container-lg.feature {
  /*position: relative;*/
}

#join-vip-secondary {
  overflow: hidden;
  background: #fff;
  border-top: 2px solid #ddd;
}

#join-vip-secondary a {
  border-bottom: 2px solid #ddd;
  padding: 70px 20px 65px 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  color: #4264aa;
}
#join-vip-secondary a:hover p {
  opacity: 0.7;
  transform: scale(.95);
  filter: blur(10px);
}

#join-vip-secondary p {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: 1s cubic-bezier(.19,1,.22,1);
  will-change: transform;
  filter: blur(0);
  font-size: 22px;
}

#join-vip-secondary p:hover {

}

#join-vip-secondary .common-button {
  position: absolute;
  margin-top: 15px;
  z-index: 1;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,5px) scale(.95);
  transition: .7s cubic-bezier(.19,1,.22,1);
  color: #fff;
  background: #6772e5;
}

#join-vip-secondary .common-button:hover {
  color: #fff;
  background-color: #7795f8;
}

#join-vip-secondary a:hover .common-button {
  opacity: 1;
  transform: translate(-50%,-7px);
}

.nav-section.github-seal img {
  filter: invert(100%);
  width: 40px;
  display: flex;
}
.nav-section.github-seal:hover {
  opacity: 0.6;
}
.nav-section.github-seal {
  opacity: 0.5;
}

#github-section {
  background: #fff;
  min-height: 250px;
}

#github-section span,
#github-section .flip-clock-wrapper:before, #github-section .flip-clock-wrapper:after {
  display: inline-table;
}

#github-section .flip-clock-wrapper {
  width: inherit;
  line-height: 110px;
}

#github-section a {
  width: 100px;
  padding-top: 80px;
  display: block;
  margin: 0 auto;
  font-size: 0px;
}

#github-section .wrap-text-left {
  margin-top: 40px;
  right: 20px;
  position: absolute;
}

#github-section .wrap-text-right {
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
}

#github-section .github-links {
  margin-top: 20px;
  text-align: center;
}

#github-section > a img {
  width: 100px;
  /*display: flex;*/
  /*margin: 0 auto;*/
}

#choose-comment-section form .choose-right-menu{
  float: right;
}

#choose-comment-section form .shim-select {
  display: block;
  position: relative;
  border: 1px solid #cfd3d6;
  border-radius: 6px 5px 5px 5px;
  background-color: #fff;
  color: #222;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

#choose-comment-section form .shim-select:hover {
box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

#choose-comment-section form .shim-select:after {
  content: '';
  width: 5px;
  height: 10px;
  background-image: url(/images/arrow-dark.png);
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 11px;
}

#choose-comment-section form p {
  width: 190px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  position: relative;
  line-height: 20px;
  border-radius: 5px;
}

#choose-comment-section form p:last-child {
  width: 30px;
}
#choose-comment-section form p:last-child button i {
  line-height: 21px;
  font-size: 14px;
  color: #444;
}
#choose-comment-section form p:last-child button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #cfd3d6;
  height: 38px;
  width: 48px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
#choose-comment-section form p:last-child button:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
#choose-comment-section form .choose-menu p:nth-child(1) {
  margin-left: 0;
}
#choose-comment-section form .choose-menu p:nth-child(3) {
  margin-left: 60px;
  margin-right: 35px;
}
#choose-comment-section form .choose-menu p {
  margin-left: 25px;
}
#choose-comment-section form p > label {
  position: absolute;
  color: #6f7c82;
  padding: 4px 9px;
  display: block;
  box-sizing: border-box;
  pointer-events: none;
  line-height: 1.5em;
  z-index: 1;
}

#choose-comment-section form .choose-right-menu p:first-child {
  margin-right: 30px;
}

#choose-comment-section form .choose-right-menu p:last-child {
  margin-right: 30px;
}

#choose-comment-section form .caption {
  background: transparent;
}

#choose-comment-section form .shim-select select {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  -webkit-appearance: menulist-button;
  opacity: 0;
}

#choose-comment-section form .shim-select i {
  font-size: 21px;
  display: inline;
}

.common-button.choose-radio {
  background: #fff;
  margin-right: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.age-demo-select-container {
}

.common-button.choose-radio:hover,
.common-button.download:hover {
  transform: none;
}

.common-button.download {
  background: #6772e5;
  color: #fff;
}

.flag-icon-us:before {
    background-position: 0 -187px;
}
.flag-icon-france:before {
  background-position: 92px 0px;
}
.flag-icon-portuguese:before {
  background-position: 23px 0px;
}
.flag-icon-germany:before {
  background-position: 115px -17px;
}
.flag-icon-china:before {
  background-position: 160px -68px;
}
.flag-icon-mexico:before {
  background-position: 46px -51px;
}
.flag-icon:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    top: -2px;
    width: 23px;
    height: 17px;
    background-image: url(/images/flags-sprite.png);
    background-size: 207px 204px;
}

.comment-section-arrow {
  color: #6772e5;
  font-size: 24px;
  position: absolute;
  top: 5px;
}
.comment-section-arrow.right {
  right: -30px;
}
.comment-section-arrow.left {
  left: -30px;
}

.login-link-text {
  position: relative;
  /*bottom: 5px;*/
  cursor: pointer;
  /*display: inline-block;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
  /*padding: 0 14px;*/
  /*box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);*/
  /*background: #efefef;*/
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease;
}
.cm-attribute {
  color: #424770;
}
#installation {
  margin-right: 245px;
  font-size: 85%;
}
.CodeMirror {
  border: 1px solid #e5e6e9;
  border-radius: 3px;
  height: 200px !important;
}
.CodeMirror-cursor {
  display: none;
}
.cm-tag, .cm-bracket {
  color: #6772e5 !important;
  font-weight: 600;
}
.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom {
  color: #24b47e !important;
}

.cm-s-elegant span.cm-comment {
  color: #91a2b0 !important;
  font-style: italic;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

#installation .CodeMirror-linenumber {
  text-align: right;
  background: #f2feef;
  color: #5dc79e;
  border-radius: 2px 0 0 2px;
}

#installation .CodeMirror-gutter {
  background: #f2feef;
}

.reset-comment-section {
  padding-top: 28px;
}

form.section-control .form-group {
  margin-right: 11px;
}
form.section-control .form-group small {
  padding-bottom: 10px;
  display: block;
}

.info-box {
  display: table;
  border: 1px solid #e5e6e9;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  background-color: #fff;
}

#help-guide .info-box,
#installation .info-box {
  margin-top: 15px;
  margin-left: 0;
  width: 100%;
}

#installation .info-box .lock-box {
  font-size: 25px;
  text-align: center;
  background: #f2feef;
}

#installation .info-box .unlock-box {
  font-size: 25px;
  text-align: center;
}

#installation .info-box .unlock-box i,
#installation .info-box .lock-box i {
  margin: 20px auto;
}

#installation .info-box .lock-box i.fa-unlock {
  color: #5dc79e;
}

#installation .purchase-content {
  border-left: 1px solid #ddd;
}

.cm-blur-text {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
 }

.table-cell {
  display: table-cell;
  float: none;
}

#choose-comment-section .purchase-feature-list p {
  text-align: left;
  font-size: 15px;
}
#choose-comment-section .purchase-feature-list {
  width: 265px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  padding-bottom: 15px;
}
.purchase-feature-list i.fa-check {
  color: #5dc79e;
}

.capitialize {
  text-transform: capitalize;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu li {
  display: list-item;
}

.login-button:hover,
.login-button:focus {
  color: #efefef;
}
.login-button {
  padding-top: 2px;
  font-size: 16px;
  color: #fff;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.gold-member {
  color: gold;
}
