.try-it-now-section {
  padding-bottom: 50px;
  margin-bottom: 125px;
}

.f-footer {
  border-top: 1px solid #e5e6e9;
  height: 70px;
  background: #fff;

  .footer-link {
    font-size: 13px;
    margin-top: 25px;
    display: inline-block;
  }
}

.f-logo-footer {
  opacity: 0.9;

  &:hover {
    opacity: 1.0;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.f-container {
  background: #fff;
  border: 1px solid #e5e6e9;
  border-radius: 3px;
  padding: 10px 0 10px 30px;

  &.full-width {
    margin: 0 auto;
    width: 980px;
  }

  .action-text {
    float: left;
    color: #52636b;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    h2 {
      font-size: 15px;
      margin-bottom: 20px;
      strong {

      }
    }
  }

  .action-buttons {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
  }
}

.f-action-button {
  $color: #337ab7;
  $borderColor: #ccdfeb;
  display: inline-block;
  height: 40px;
  padding: 0 14px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #efefef;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  // text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
  background: transparent;
  border: 1px solid #ccdfeb;
  color: $color;
  outline: none;

  &:hover {
    background-color: #e6e6e6;
    color: darken($color,5%);
    border-color: darken($borderColor,5%);
  }

  &.light {
    color: #fff;
    border: 1px solid #fff;
  }

  &.green {
    $greenColor: #3ecf8e;
    color: #fff;
    background-color: $greenColor;
    text-transform: uppercase;
    font-weight: 600;
    border: transparent;
    padding-left: 50px;
    padding-right: 50px;

    &:hover {
      background: darken($greenColor, 5%);
    }
  }
}

.pr {
  position: relative !important;

  &.t4 {
    top: 4px !important;
  }
}

.ml5 {
  margin-left: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.ohidden {
  overflow: hidden !important;
}

.live-demo-modal {
  margin: 50px auto;
  height: 90%;

  p {
    margin-top: 20px;
    font-size: 19px;
    color: #738a94;
    padding: 0 50px;
    font-weight: 100;

    em {
      color: #555;
      font-style: normal;
      font-weight: 300;
    }
  }

  img {
    margin-top: 30px;
    width: 90%;
  }

  h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 100;

    strong {
      font-weight: 400;
    }
  }

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }

  .signup-welcome-content {
    text-align: center;
  }

  .flow-nav {
    position: absolute;
    left: 50%;

    ol {
      position: relative;
      left: -50%;
      bottom: 75px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;
      width: 160px;
      list-style: none;
    }

    li {
      margin: 0;
    }

    .active {
      .step {
        border: 2px solid #3ecf8e;
        color: #3ecf8e;
        background: transparent;
        cursor: default;
      }
    }

    .active~li:not(divider) .step {
      border: 2px solid #e3e3e3;
      color: #cdcdcd;
      background: transparent;
    }

    .step {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px solid transparent;
      color: #fff;
      font-size: 1.1rem;
      line-height: 1em;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      background: #3ecf8e;
      border-radius: 100%;
      vertical-align: middle;
    }

    .divider {
      align-self: center;
      width: 20px;
      height: 2px;
      background-image: linear-gradient(90deg,#3ecf8e 33%,#3ecf8e 0);
      background-position: bottom;
      background-position-x: 0;
      background-size: 6px 2px;
      background-repeat: repeat-x;
      border-radius: 3px;
    }

    .active~.divider {
      background-image: linear-gradient(90deg,#e3e3e3 33%,hsla(0,0%,100%,0) 0);
    }
  }
}

.tablet-container {
  align-items: center;
  border-radius: 38px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);

  .tablet-portrait {
    width: 100%;
    height: 100%;
  }

  .close-tablet-button {
    width: 43px;
    height: 43px;
    border-radius: 30px;
    text-align: center;
    padding: 0px;
    color: #337ab7;
    border: 1px solid #337ab7;
    box-shadow: none;

    i {
      font-size: 50px;
      position: relative;
      bottom: 10px;
    }
  }
}


.tablet-container > div {
  align-items: center;
  border-radius: 38px;
  padding: 60px 0;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.tablet-container div .inner-content-container {
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.tablet-portrait {
  display: flex;
  // width: 400px;
  // height: 625px;
  width: 455px;
  height: 655px;
  overflow: hidden;
}

.fa-times-thin:before {
	content: '\00d7';
}

.home-tablet-button {
  position: relative;
  bottom: 52px;
  margin: 0 auto;
  float: none;
  display: block;
  outline: none;
}
