.try-it-now-section {
  padding-bottom: 50px;
  margin-bottom: 125px;
}

.f-footer {
  border-top: 1px solid #e5e6e9;
  height: 70px;
  background: #fff;

  .footer-link {
    font-size: 13px;
    margin-top: 25px;
    display: inline-block;
  }
}

.f-logo-footer {
  opacity: 0.8;

  &:hover {
    opacity: 0.9;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.f-container {
  background: #fff;
  border: 1px solid #e5e6e9;
  border-radius: 3px;
  padding: 10px 0 10px 30px;

  &.full-width {
    margin: 0 auto;
    width: 980px;
  }

  .action-text {
    float: left;
    color: #52636b;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    h2 {
      font-size: 15px;
      margin-bottom: 20px;
      strong {

      }
    }
  }

  .action-buttons {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
  }
}

.f-action-button {
  $color: #337ab7;
  $borderColor: #ccdfeb;
  display: inline-block;
  height: 40px;
  padding: 0 14px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #efefef;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  // text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
  background: transparent;
  border: 1px solid #ccdfeb;
  color: $color;

  &:hover {
    background-color: #e6e6e6;
    color: darken($color,5%);
    border-color: darken($borderColor,5%);
  }

  &.light {
    color: #fff;
    border: 1px solid #fff;
  }

  &.green {
    $greenColor: #3ecf8e;
    color: #fff;
    background-color: $greenColor;
    text-transform: uppercase;
    font-weight: 600;
    border: transparent;
    padding-left: 50px;
    padding-right: 50px;

    &:hover {
      background: darken($greenColor, 5%);
    }
  }
}

.pr {
  position: relative !important;

  &.t4 {
    top: 4px !important;
  }
}

.ml5 {
  margin-left: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.ohidden {
  overflow: hidden !important;
}

.live-demo-modal {
  margin: 50px auto;
  height: 80%;

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.tablet-container {
  align-items: center;
  border-radius: 38px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);

  .tablet-portrait {
    width: 100%;
    height: 100%;
  }

  .close-tablet-button {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 30px;
    text-align: center;
    bottom: 52px;
    margin: 0 auto;
    padding: 0px;
    color: #337ab7;
    border: 1px solid #337ab7;
    box-shadow: none;
    float: none;
    display: block;
    outline: none;

    i {
      font-size: 50px;
      position: relative;
      bottom: 10px;
    }
  }
}


.tablet-container > div {
  align-items: center;
  border-radius: 38px;
  padding: 60px 0;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.tablet-container div > div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  /*border-radius: 0;*/
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.tablet-portrait {
  display: flex;
  // width: 400px;
  // height: 625px;
  width: 455px;
  height: 655px;
  overflow: hidden;
}

.fa-times-thin:before {
	content: '\00d7';
}
